.MenuItem {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    font-size: 25px;
  }
  
  .MenuItem button {
    background-color: white;
    color: red;
    border-radius: 5px;
    width: 35px;
    height: 35px;
  }